@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    text-decoration: none;
    color: white;
    font-family: "Montserrat";
}


html,body{
    min-height: 100%;
}

body {
    /* background: linear-gradient(90deg, rgba(165,182,193,1) 12%, rgba(159,50,196,1) 100%); */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(32,51,96,0.8508885782747604) 14%, rgba(49,172,215,1) 43%); */
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    
    
    background-repeat: no-repeat;
}

p{
    margin: 16px auto;
    line-height: 1.5em;
}

.layout{
    max-width: 1200px;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

nav{
    display: grid;
    margin: 40px auto;
    grid-template-columns: 1fr 1fr;
    padding: 0 20px;
}

nav .links{
    display: inline-block;
    text-align: right;
}

nav a{
    display: inline-block;
    margin-left: 20px;
    font-weight: 400;
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;

}

nav a:hover{
    border-color: white;
}

footer p{
    text-align: center;
    color: #bbbbbb;
    margin: 40px autoz
}

.content{
/* border: 2px solid black; */
margin: 0 10px;


}