*{
    
}

  
section {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 40px;
    align-items: center;
    
  }
section div, img{
    /* border: 2px solid black */
    
}




section div{
    display: flex;
    align-items: center;
    flex-direction: column;
   
    height: 80%;
}


header  h2{
    font-size: 20rem;
    color: blue;
}